$whitecolor: #ffffff;
$yellowcolor: #7d8028;
$darkredcolor: #7f2121;
$font-weights: (
        "thin" : 300,
        "regular": 400,
        "medium": 500,
        "bold" : 700,
        "bbold": 800,
);


@mixin makeWH($width, $height){
  width: $width;
  height: $height;
}

@function getWeight($weight-name) {
  @return map_get($font-weights, $weight-name)
}

@mixin flexDirection($direction) {
  display: flex;
  flex-flow: $direction nowrap;
}

@mixin flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin box($width, $height: $width) {
  width: $width;
  height: $height;
}

@mixin font($font-weight: normal, $font-size: normal, $line-height: normal, $letter-spacing: normal) {
  //font-size: $font-size * 1px;
  font-size: $font-size * 0.1rem;

  @if $font-weight==normal {
    font-weight: 500;
  } @else {
    font-weight: 800;
  }

  @if $line-height==normal {
    line-height: normal;
  } @else {
    line-height: $line-height / $font-size;
  }

  @if $letter-spacing==normal {
    letter-spacing: normal;
  } @else {
    letter-spacing: #{$letter-spacing / $font-size}em;
  }
}

@mixin coverBackground {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

$mobile: 320;
$tablet: 768;
$large: 1024;
$desktop: 1280;

@mixin mobile {
  @media only screen and (min-width: $mobile * 1px) {
    @content;
  }
}

/*@mixin mobile {
  @media (max-width: $mobile) {
    @content
  }
}*/

@mixin tablet {
  @media only screen and (min-width: $tablet * 1px) {
    @content;
  }
}

@mixin large {
  @media only screen and (min-width: $large * 1px) {
    @content;
  }
}

@mixin desktop {
  @media only screen and (min-width: $desktop * 1px) {
    @content;
  }
}

